/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --primary-color: #6f55f2;
  --heading-color: #132742;
  --bg-gradient: linear-gradient(90deg,
      rgba(103, 101, 240, 1) 27%,
      rgba(141, 141, 235, 1) 85%);
  --font-name: "Questrial", sans-serif;

  /* 
        #9785f2
        #b5a9f3
        #d3cef2
        #d7337a
    */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

h1,
h2,
h3 {
  font-weight: 700;
}

section {
  padding: 50px 0px;

}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  list-style: none;
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}

.section__title {
  color: var(--heading-color);
  font-weight: 700;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #f0f4ff;
  padding: 20px;
}

.App-main {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  max-width: 600px;
}

.welcome-box {
  padding: 20px;
}

.welcome-box h2 {
  color: #007bff;
}

.button-container button {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-box input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
}

.input-box button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* Custom Scrollbar Styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #93C5FD;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #60A5FA;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}